<h2>to install, drag the link below to bookmarks</h2><br>
<a href='
javascript:void function(){var e=new XMLHttpRequest;e.open("POST","https://u.kek.gg/v1/shorten-url",!0),e.setRequestHeader("Content-Type","text/plain"),e.onreadystatechange=function(){e.readyState===XMLHttpRequest.DONE%26%26200===e.status%26%26window.prompt("Copy the shortened link to your clipboard",e.responseText.replace(/"/g,"").replace("%3F",""))},e.send(window.location)}();
'>Shorten URL</a>


<!--javascript:void(open('https://voat.co/submit?linkpost=true&url='+encodeURIComponent(document.location)))-->
