@font-face {
    font-family: 'Comic Sans MS';
    font-style: normal;
    src: local('Comic Sans MS'),local('ComicSansMS'),url(/fonts/comicsans.ttf) format('truetype');
}

@font-face {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    src: local('Gloria Hallelujah'),local('GloriaHallelujah'),url(/fonts/gloriahallelujah.ttf) format('truetype');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    src: local('Lobster'),local('Lobster-Regular'),url(/fonts/lobster.ttf) format('truetype');
}

@font-face {
    font-family: 'Righteous';
    font-style: normal;
    src: local('Righteous'),local('Righteous-Regular'),url(/fonts/righteous.ttf) format('truetype');
}

@font-face {
    font-family: 'Rubik Mono One';
    font-style: normal;
    src: local('Rubik Mono One Regular'),local('RubikMonoOne-Regular'),url(/fonts/rubikmonoone.ttf) format('truetype');
}

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'),local('RussoOne-Regular'),url(/fonts/russoone.ttf) format('truetype');
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    src: local('Impact'),local('Impact-Regular'),url(/fonts/impact.ttf) format('truetype');
}

@font-face {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 400;
    src: local('Lusitana'),local('Lusitana'),url(/fonts/Lusitana-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    src: local('Pirata One'),local('Pirata One'),url(/fonts/pirataone.ttf) format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin'),local('Cabin'),url(/fonts/cabin.ttf) format('truetype');
}

@font-face {
    font-family: 'Kremlin';
    font-style: normal;
    font-weight: 400;
    src: local('Kremlin'),local('Kremlin'),url(/fonts/kremlin.ttf) format('truetype');
}

@font-face {
    font-family: 'VT323';
    font-style: monospace;
    font-weight: 400;
    src: local('VT323'),local('VT323-Regular'),url(/fonts/VT323.ttf) format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/LibreBaskerville-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Martel Sans'),local('Martel Sans'),url(/fonts/MartelSans-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: 'Minecrafter';
    font-style: normal;
    font-weight: 400;
    src: local('Minecrafter'),local('Minecrafter'),url(/fonts/Minecrafter.ttf) format('truetype');
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    src: local('Impact'),local('Impact'),url(/fonts/impact.ttf) format('truetype');
}

@font-face {
    font-family: '28DaysLater';
    font-style: normal;
    src: local('28DaysLater'),local('28DaysLater'),url(/fonts/28DaysLater2.ttf) format('truetype');
}

@font-face {
    font-family: 'NexaRust';
    font-style: normal;
    src: local('NexaRust'),local('NexaRust'),url(/fonts/nexa-rust.slab-black-shadow-01.otf) format('opentype');
}

@font-face {
    font-family: 'Destroy';
    font-style: normal;
    src: local('Destroy'),local('Destroy'),url(/fonts/DESTROY_.ttf) format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    src: local('Pacifico'),local('Pacifico'),url(/fonts/Pacifico.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-style: normal;
    src: local('Playfair'),local('Playfair'),url(/fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Unifraktur Cook';
    font-style: normal;
    src: local('UnifrakturCook'),local('UnifrakturCook'),url(/fonts/UnifrakturCook-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Caesar Dressing';
    font-style: normal;
    src: local('Caesar Dressing'),local('Caesar Dressing'),url(/fonts/CaesarDressing-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Broken Glass';
    font-style: normal;
    src: local('Broken Glass'),local('Broken Glass'),url(/fonts/BrokenGlass.ttf) format('truetype');
}

@font-face {
    font-family: 'Finger Paint';
    font-style: normal;
    src: local('Finger Paint'),local('Finger Paint'),url(/fonts/FingerPaint-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Harry P';
    font-style: normal;
    src: local('Harry P'),local('Harry P'),url(/fonts/harryp.ttf) format('truetype');
}

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    src: local('Indie Flower'),local('Indie Flower'),url(/fonts/IndieFlower.ttf) format('truetype');
}

@font-face {
    font-family: 'Nosifer';
    font-style: normal;
    src: local('Nosifer'),local('Nosifer'),url(/fonts/Nosifer-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Uncial Antiqua';
    font-style: normal;
    src: local('Uncial Antiqua'),local('Uncial Antiqua'),url(/fonts/UncialAntiqua-Regular.ttf) format('truetype');
}


