/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 *  * 1. Change the default font family in all browsers (opinionated).
 *   * 2. Correct the line height in all browsers.
 *    * 3. Prevent adjustments of font size after orientation changes in
 *     *    IE on Windows Phone and in iOS.
 *      */

/* Document
 *    ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
 *    ========================================================================== */

/**
 *  * Remove the margin in all browsers (opinionated).
 *   */

body {
  margin: 0;
}

/**
 *  * Add the correct display in IE 9-.
 *   */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 *  * Correct the font size and margin on `h1` elements within `section` and
 *   * `article` contexts in Chrome, Firefox, and Safari.
 *    */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 *    ========================================================================== */

/**
 *  * Add the correct display in IE 9-.
 *   * 1. Add the correct display in IE.
 *    */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 *  * Add the correct margin in IE 8.
 *   */

figure {
  margin: 1em 40px;
}

/**
 *  * 1. Add the correct box sizing in Firefox.
 *   * 2. Show the overflow in Edge and IE.
 *    */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 *  * 1. Correct the inheritance and scaling of font size in all browsers.
 *   * 2. Correct the odd `em` font sizing in all browsers.
 *    */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 *    ========================================================================== */

/**
 *  * 1. Remove the gray background on active links in IE 10.
 *   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 *    */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 *  * Remove the outline on focused links when they are also active or hovered
 *   * in all browsers (opinionated).
 *    */

a:active,
a:hover {
  outline-width: 0;
}

/**
 *  * 1. Remove the bottom border in Firefox 39-.
 *   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 *    */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 *  * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 *   */

b,
strong {
  font-weight: inherit;
}

/**
 *  * Add the correct font weight in Chrome, Edge, and Safari.
 *   */

b,
strong {
  font-weight: bolder;
}

/**
 *  * 1. Correct the inheritance and scaling of font size in all browsers.
 *   * 2. Correct the odd `em` font sizing in all browsers.
 *    */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 *  * Add the correct font style in Android 4.3-.
 *   */

dfn {
  font-style: italic;
}

/**
 *  * Add the correct background and color in IE 9-.
 *   */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 *  * Add the correct font size in all browsers.
 *   */

small {
  font-size: 80%;
}

/**
 *  * Prevent `sub` and `sup` elements from affecting the line height in
 *   * all browsers.
 *    */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 *    ========================================================================== */

/**
 *  * Add the correct display in IE 9-.
 *   */

audio,
video {
  display: inline-block;
}

/**
 *  * Add the correct display in iOS 4-7.
 *   */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 *  * Remove the border on images inside links in IE 10-.
 *   */

img {
  border-style: none;
}

/**
 *  * Hide the overflow in IE.
 *   */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
 *    ========================================================================== */

/**
 *  * 1. Change the font styles in all browsers (opinionated).
 *   * 2. Remove the margin in Firefox and Safari.
 *    */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 *  * Show the overflow in IE.
 *   * 1. Show the overflow in Edge.
 *    */

button,
input { /* 1 */
  overflow: visible;
}

/**
 *  * Remove the inheritance of text transform in Edge, Firefox, and IE.
 *   * 1. Remove the inheritance of text transform in Firefox.
 *    */

button,
select { /* 1 */
  text-transform: none;
}

/**
 *  * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *   *    controls in Android 4.
 *    * 2. Correct the inability to style clickable types in iOS and Safari.
 *     */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 *  * Remove the inner border and padding in Firefox.
 *   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 *  * Restore the focus styles unset by the previous rule.
 *   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 *  * Change the border, margin, and padding in all browsers (opinionated).
 *   */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 *  * 1. Correct the text wrapping in Edge and IE.
 *   * 2. Correct the color inheritance from `fieldset` elements in IE.
 *    * 3. Remove the padding so developers are not caught out when they zero out
 *     *    `fieldset` elements in all browsers.
 *      */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 *  * 1. Add the correct display in IE 9-.
 *   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 *    */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 *  * Remove the default vertical scrollbar in IE.
 *   */

textarea {
  overflow: auto;
}

/**
 *  * 1. Add the correct box sizing in IE 10-.
 *   * 2. Remove the padding in IE 10-.
 *    */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 *  * Correct the cursor style of increment and decrement buttons in Chrome.
 *   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 *  * 1. Correct the odd appearance in Chrome and Safari.
 *   * 2. Correct the outline style in Safari.
 *    */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 *  * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 *   */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 *  * 1. Correct the inability to style clickable types in iOS and Safari.
 *   * 2. Change font properties to `inherit` in Safari.
 *    */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
 *    ========================================================================== */

/*
 *  * Add the correct display in IE 9-.
 *   * 1. Add the correct display in Edge, IE, and Firefox.
 *    */

details, /* 1 */
menu {
  display: block;
}

/*
 *  * Add the correct display in all browsers.
 *   */

summary {
  display: list-item;
}

/* Scripting
 *    ========================================================================== */

/**
 *  * Add the correct display in IE 9-.
 *   */

canvas {
  display: inline-block;
}

/**
 *  * Add the correct display in IE.
 *   */

template {
  display: none;
}

/* Hidden
 *    ========================================================================== */

/**
 *  * Add the correct display in IE 10-.
 *   */

[hidden] {
  display: none;
}



body {
   font: 18px normal Arial, sans-serif;
}
.upload_form_cont {
color:#000;
overflow:hidden;
}
#upload_form {
float:center;
padding:15px;
width: 0 auto;
}
#url_upload_form {
float:center;
padding:7px;
margin-left: 8px;
margin-right: 8px;
width: 95% auto;
}
#preview {
background-color:#fff;
display:block;
float:center;
width:200px auto;
padding:15px auto;
}
#upload_form > div {
margin-bottom:10px;
}
#url_upload_form > div {
margin-bottom:10px;
}
#speed,#remaining {
float:left;
width:100px;
}
#b_transfered {
float:center;
text-align:right;
}
.clear_both {
clear:both;
}
input [type=text] {
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #ccc;
font-size:14pt;
padding:5px 10px;
}
input#image_file, input#url, input#url-upload-image, input#url-to-shorten, input#album_file {
width: 95%;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #ccc;
font-size:14pt;
padding:5px 10px;
}
#url-upload-imageaaa {
width: 90%;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #ccc;
font-size:14pt;
padding:5px 10px;
}
input[type=button] {
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #ccc;
font-size:14pt;
padding:5px 10px;
background: -moz-linear-gradient(#ffffff, #dfdfdf);
background: -ms-linear-gradient(#ffffff, #dfdfdf);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
background: -webkit-linear-gradient(#ffffff, #dfdfdf);
background: -o-linear-gradient(#ffffff, #dfdfdf);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf')";
background: linear-gradient(#ffffff, #dfdfdf);
}
#image_file {
width: 95% ;
}
#url {
width: 95% auto;
}
#progress_info {
font-size:10pt;
}
#fileinfo,#error,#error2,#error3,#abort,#warnsize {
color:#aaa;
display:none;
font-size:10pt;
font-style:italic;
margin-top:10px;
}
#progress {
border:1px solid #ccc;
display:none;
float:left;
height:14px;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
}
#progress_percent {
float:right;
}
#upload_response {
margin-top: 10px;
padding: 10px;
overflow: hidden;
display: none;
border: 1px solid #ccc;
border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
-webkit-border-radius:10px;
box-shadow: 0 0 5px #ccc;
}
#main {
    border: 0px solid green;
    padding: 5px ;
    margin: 0 auto;
    width: 100% auto;
    max-width: 1200px;
}
label {
color: black;
font-weight: bold;
height: 28px;
width: 200px;
display: block;
}
.input-group{
    padding: 15px;
}
.input-group input[type="text"] {
    padding-right: 50px;
    background: white;
}
.input-group button {
    width: 40px;
    height: 33px;
    position: relative;
    margin-left: -44px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #ccc;
    background: #e8e8e8;
}
.input-group span {
    display: inline-block;
    vertical-align: top;
}
.contr {
    color: green;
    text-align: center
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: auto;
    width: 100% auto;
    max-width: 100%;
}
.input-group button img {
    position: absolute;
    top: 5px;
    right: 10px;
}
.logo {
    padding-top: 10px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.logo-gif {
    padding-top: 10px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    display: none;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -121px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: green;
                          color: white;}
                           

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.larger-checkbox {
    width: 15px
    height: 15px
}
.color-picker {
  padding: 0px 0px;
  height: 30px;
  width: 60px;
  border: 0px;
}
input { 
  border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  -webkit-border-radius:10px;
  border:1px solid #ccc;
  font-size:14pt;
  padding:5px 9px;
  width: 90% auto;
}

